<% object.options.each.with_index do |option, index| %>
  <div class="col-md-6">
    <div class="panel panel-default col-md-10">
      <div class="panel-body">
        <%= option.query %>
        <%= link_to "", new_vote_path(object), class: "btn btn-default glyphicon glyphicon-ok pull-right" %>
      </div>
    </div>
    <% unless index == (object.options.length - 1) %>
      <span class="pull-right">OR</span>
    <% end %>
  </div>
<% end %>
