<h1 class="page-header text-center">Would you rather?</h1>

<div id="new_question_form" class="col-md-12"></div>

<div id="questions">
  <% @questions.each.with_index do |question, index| %>
    <%= render question %>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= content_for :right_nav do %>
    <li><%= link_to 'New Question', new_question_path, id: "new_question_link", remote: true %></li>
  <% end %>
<% end %>
