<div class"col-md-12">
  <h1>Would you rather: </h1>
</div>

<%= bootstrap_form_for @question do |f| %>
  <%= render 'form_html' %>
<% end %>
<br><br>

<%= content_for :nav do %>
  <li><%= link_to 'Back', questions_path %></li>
<% end %>
